USE [master]
GO
/****** Object:  Database [SGDB]    Script Date: 2020-02-23 11:00:00 ******/
CREATE DATABASE [SGDB] ON  PRIMARY 
( NAME = N'SBWLSGRY', FILENAME = N'E:\上锅人员\课件\SGRY-Source\DB\SBWLSGRY.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SBWLSGRY_log', FILENAME = N'E:\上锅人员\课件\SGRY-Source\DB\SBWLSGRY_log.ldf' , SIZE = 20096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SGDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SGDB]
GO
/****** Object:  User [sbwl_sgry]    Script Date: 2020-02-23 11:00:00 ******/
CREATE USER [sbwl_sgry] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'sbwl_sgry'
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2020-02-23 11:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DncCode]    Script Date: 2020-02-23 11:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DncCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DncECharId] [int] NULL,
	[DncEChar_Name] [varchar](50) NULL,
	[K_Name_kw] [varchar](50) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
 CONSTRAINT [PK_DncCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DncEChar]    Script Date: 2020-02-23 11:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DncEChar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[K_CharName_kw] [varchar](50) NULL,
	[Z1_Val] [int] NULL,
	[Z2_Val] [int] NULL,
	[Z3_Val] [int] NULL,
	[SendTime] [datetime] NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
 CONSTRAINT [PK_DncEChar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DncIcon]    Script Date: 2020-02-23 11:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncIcon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Size] [nvarchar](20) NULL,
	[Color] [nvarchar](50) NULL,
	[Custom] [nvarchar](60) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DncIcon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DncLog]    Script Date: 2020-02-23 11:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[K_Log_kw] [nvarchar](500) NULL,
	[LogTime] [datetime] NULL,
	[Type] [int] NULL,
	[WorkNum] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
 CONSTRAINT [PK_DncLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DncMenu]    Script Date: 2020-02-23 11:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncMenu](
	[Guid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[Alias] [nvarchar](255) NULL,
	[Icon] [nvarchar](128) NULL,
	[ParentGuid] [uniqueidentifier] NULL,
	[ParentName] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[Description] [nvarchar](800) NULL,
	[Sort] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[IsDefaultRouter] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[Component] [nvarchar](255) NULL,
	[HideInMenu] [int] NULL,
	[NotCache] [int] NULL,
	[BeforeCloseFun] [nvarchar](255) NULL,
 CONSTRAINT [PK_DncMenu] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DncMessage]    Script Date: 2020-02-23 11:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[K_Msg_kw] [nvarchar](500) NULL,
	[Remark] [nvarchar](3300) NULL,
	[FromWorkNum] [nvarchar](255) NULL,
	[ToWorkNum] [nvarchar](255) NULL,
	[IsRead] [int] NULL,
	[ToUrl] [nvarchar](500) NULL,
	[SendTime] [datetime] NULL,
	[State] [int] NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
 CONSTRAINT [PK_DncMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DncPermission]    Script Date: 2020-02-23 11:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncPermission](
	[Code] [nvarchar](20) NOT NULL,
	[MenuGuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ActionCode] [nvarchar](80) NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DncPermission] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DncRole]    Script Date: 2020-02-23 11:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncRole](
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[IsSuperAdministrator] [bit] NOT NULL,
	[IsBuiltin] [bit] NOT NULL,
 CONSTRAINT [PK_DncRole] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DncRolePermissionMapping]    Script Date: 2020-02-23 11:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncRolePermissionMapping](
	[RoleCode] [nvarchar](50) NOT NULL,
	[PermissionCode] [nvarchar](20) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_DncRolePermissionMapping] PRIMARY KEY CLUSTERED 
(
	[RoleCode] ASC,
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DncUser]    Script Date: 2020-02-23 11:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncUser](
	[Guid] [uniqueidentifier] NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[Avatar] [nvarchar](255) NULL,
	[UserType] [int] NOT NULL,
	[IsLocked] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[Description] [nvarchar](800) NULL,
 CONSTRAINT [PK_DncUser] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DncUserRoleMapping]    Script Date: 2020-02-23 11:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncUserRoleMapping](
	[UserGuid] [uniqueidentifier] NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_DncUserRoleMapping] PRIMARY KEY CLUSTERED 
(
	[UserGuid] ASC,
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190504085011_Init', N'2.1.11-servicing-32099')
SET IDENTITY_INSERT [dbo].[DncCode] ON 

INSERT [dbo].[DncCode] ([Id], [DncECharId], [DncEChar_Name], [K_Name_kw], [Status], [IsDeleted]) VALUES (1, NULL, N'123', N'123', 1, 1)
INSERT [dbo].[DncCode] ([Id], [DncECharId], [DncEChar_Name], [K_Name_kw], [Status], [IsDeleted]) VALUES (2, NULL, N'345', N'345', 1, 1)
SET IDENTITY_INSERT [dbo].[DncCode] OFF
SET IDENTITY_INSERT [dbo].[DncEChar] ON 

INSERT [dbo].[DncEChar] ([Id], [K_CharName_kw], [Z1_Val], [Z2_Val], [Z3_Val], [SendTime], [Status], [IsDeleted]) VALUES (1, N'123123', 11, 22, 33, CAST(0x0000AB6700000000 AS DateTime), 1, 0)
INSERT [dbo].[DncEChar] ([Id], [K_CharName_kw], [Z1_Val], [Z2_Val], [Z3_Val], [SendTime], [Status], [IsDeleted]) VALUES (2, N'7546756', 22, 33, 55, CAST(0x0000AB6900000000 AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[DncEChar] OFF
SET IDENTITY_INSERT [dbo].[DncIcon] ON 

INSERT [dbo].[DncIcon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (1, N'ios-add', NULL, NULL, NULL, NULL, 1, 0, CAST(0x0000A99E00F69D9D AS DateTime), N'00000000-0000-0000-0000-000000000000', N'超级管理员', NULL, NULL, NULL)
INSERT [dbo].[DncIcon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (2, N'md-paper-plane', NULL, N'#0285FF', NULL, NULL, 1, 0, CAST(0x0000A99E00F69DC2 AS DateTime), N'00000000-0000-0000-0000-000000000000', N'超级管理员', CAST(0x0000A99E00F6D113 AS DateTime), NULL, N'')
INSERT [dbo].[DncIcon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (3, N'ios-partly-sunny', NULL, N'#FA9B07', NULL, NULL, 1, 0, CAST(0x0000A99E00F69DC2 AS DateTime), N'00000000-0000-0000-0000-000000000000', N'超级管理员', CAST(0x0000A99E00F6BD57 AS DateTime), NULL, N'')
GO
SET IDENTITY_INSERT [dbo].[DncIcon] OFF
SET IDENTITY_INSERT [dbo].[DncLog] ON 

INSERT [dbo].[DncLog] ([Id], [K_Log_kw], [LogTime], [Type], [WorkNum], [Status], [IsDeleted]) VALUES (8, N'系统管理员 操作 崔大 进入离职流程', CAST(0x0000AAF900CE60F6 AS DateTime), 2, N'20263da4-aed4-4aba-a6cc-b985c016858e', 1, 0)
INSERT [dbo].[DncLog] ([Id], [K_Log_kw], [LogTime], [Type], [WorkNum], [Status], [IsDeleted]) VALUES (9, N'系统管理员 操作 崔大 进入离职流程', CAST(0x0000AAF900CF89EA AS DateTime), 2, N'20263da4-aed4-4aba-a6cc-b985c016858e', 1, 0)
INSERT [dbo].[DncLog] ([Id], [K_Log_kw], [LogTime], [Type], [WorkNum], [Status], [IsDeleted]) VALUES (10, N'系统管理员 操作 崔大 进入转岗流程,转岗到 噪声', CAST(0x0000AAF900D9CE4D AS DateTime), 2, N'20263da4-aed4-4aba-a6cc-b985c016858e', 1, 0)
SET IDENTITY_INSERT [dbo].[DncLog] OFF
SET IDENTITY_INSERT [dbo].[DncMessage] ON 

INSERT [dbo].[DncMessage] ([Id], [K_Msg_kw], [Remark], [FromWorkNum], [ToWorkNum], [IsRead], [ToUrl], [SendTime], [State], [Status], [IsDeleted]) VALUES (1, N'请处理 崔捷 的转岗体检流程', N'系统管理员 提交了关于 <font color=''blue''>崔捷</font> 的转岗体检流程，请尽快处理！&nbsp;&nbsp;<br><a href="http://10.24.127.101:9000/#/lzzg"> <流程详情> </a>&nbsp;&nbsp;2019-12-05 05:01', N'20263da4-aed4-4aba-a6cc-b985c016858e', N'1', 0, NULL, CAST(0x0000AB1A01188BA9 AS DateTime), 0, 1, 0)
INSERT [dbo].[DncMessage] ([Id], [K_Msg_kw], [Remark], [FromWorkNum], [ToWorkNum], [IsRead], [ToUrl], [SendTime], [State], [Status], [IsDeleted]) VALUES (2, N'请处理 张三 的转岗体检流程', N'系统管理员 提交了关于 <font color=''blue''>张三</font> 的转岗体检流程，请尽快处理！&nbsp;&nbsp;<br><a href="http://10.24.127.101:9000/#/lzzg"> <流程详情> </a>&nbsp;&nbsp;2019-12-05 05:01', N'20263da4-aed4-4aba-a6cc-b985c016858e', N'9', 0, NULL, CAST(0x0000AB1A0119F544 AS DateTime), 0, 1, 0)
INSERT [dbo].[DncMessage] ([Id], [K_Msg_kw], [Remark], [FromWorkNum], [ToWorkNum], [IsRead], [ToUrl], [SendTime], [State], [Status], [IsDeleted]) VALUES (3, N'请处理 55555 的离职体检流程', N'系统管理员 提交了关于 <font color=''red''>55555</font> 的离职体检流程，请尽快处理！&nbsp;&nbsp;<br><a href="http://10.24.127.101:9000/#/lzzg"> <流程详情> </a>&nbsp;&nbsp;2019-12-05 05:01', N'20263da4-aed4-4aba-a6cc-b985c016858e', N'11', 0, NULL, CAST(0x0000AB1A011A65AD AS DateTime), 0, 1, 0)
SET IDENTITY_INSERT [dbo].[DncMessage] OFF
INSERT [dbo].[DncPermission] ([Code], [MenuGuid], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedByUserGuid], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'2EKdG4Ir', N'2f458429-3976-408f-8a4f-aacbfe7d82cc', N'删除', N'delete', NULL, N'', 1, 0, 1, N'00000000-0000-0000-0000-000000000000', CAST(0x0000A9B600FD41B5 AS DateTime), N'超级管理员', NULL, NULL, NULL)
INSERT [dbo].[DncPermission] ([Code], [MenuGuid], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedByUserGuid], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'5kpP57SA', N'3eca49b3-4348-4f84-ac7c-119d70862d75', N'消息页面', N'DncMessage', NULL, N'', 1, 0, 0, N'20263da4-aed4-4aba-a6cc-b985c016858e', CAST(0x0000AAD801835ED0 AS DateTime), N'系统管理员', CAST(0x0000AAD801841521 AS DateTime), N'20263da4-aed4-4aba-a6cc-b985c016858e', N'系统管理员')
INSERT [dbo].[DncPermission] ([Code], [MenuGuid], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedByUserGuid], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'73o5I0zh', N'793e0f5d-0846-46de-968d-5e59d919b153', N'备份', N'system_settings_backup', NULL, N'', 1, 0, 1, N'00000000-0000-0000-0000-000000000000', CAST(0x0000A9A50122E810 AS DateTime), N'超级管理员', NULL, NULL, NULL)
INSERT [dbo].[DncRole] ([Code], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin]) VALUES (N'9PeVLUMU', N'超级管理员', N'', 1, 0, CAST(0x0000A99E011725C0 AS DateTime), N'00000000-0000-0000-0000-000000000000', N'超级管理员', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[DncRole] ([Code], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin]) VALUES (N'C7kPHIwu', N'普通用户', N'', 1, 0, CAST(0x0000A99A010631AE AS DateTime), N'00000000-0000-0000-0000-000000000000', N'超级管理员', CAST(0x0000A9B900F5D1C3 AS DateTime), NULL, N'管理员', 0, 0)
INSERT [dbo].[DncRole] ([Code], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin]) VALUES (N'WPbv96HC', N'管理员', N'', 1, 0, CAST(0x0000A99A01062707 AS DateTime), N'00000000-0000-0000-0000-000000000000', N'超级管理员', CAST(0x0000A9B900F5D5A5 AS DateTime), NULL, N'管理员', 0, 1)
INSERT [dbo].[DncRolePermissionMapping] ([RoleCode], [PermissionCode], [CreatedOn]) VALUES (N'C7kPHIwu', N'I2U5lW40', CAST(0x0000AB6101696CE9 AS DateTime))
INSERT [dbo].[DncRolePermissionMapping] ([RoleCode], [PermissionCode], [CreatedOn]) VALUES (N'WPbv96HC', N'I2U5lW40', CAST(0x0000AB38012B0509 AS DateTime))
INSERT [dbo].[DncRolePermissionMapping] ([RoleCode], [PermissionCode], [CreatedOn]) VALUES (N'WPbv96HC', N'PNfKDg06', CAST(0x0000AB38012B050B AS DateTime))
INSERT [dbo].[DncUser] ([Guid], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [Description]) VALUES (N'd7f32600-64c3-484d-a933-2d4a62bda0bc', N'10001000', N'普通用户001', N'111111', N'', 2, 0, 1, 0, CAST(0x0000A99E0117592F AS DateTime), N'00000000-0000-0000-0000-000000000000', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DncUser] ([Guid], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [Description]) VALUES (N'684eca5e-2aeb-4478-ba70-8a6b29f78696', N'10002000', N'管理员', N'111111', NULL, 1, 0, 1, 0, CAST(0x0000A99A00000000 AS DateTime), N'00000000-0000-0000-0000-000000000000', NULL, CAST(0x0000A9B300FE6995 AS DateTime), NULL, N'', NULL)
INSERT [dbo].[DncUser] ([Guid], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [Description]) VALUES (N'20263da4-aed4-4aba-a6cc-b985c016858e', N'administrator', N'系统管理员', N'666666', N'https://file.iviewui.com/dist/a0e88e83800f138b94d2414621bd9704.png', 0, 0, 1, 0, CAST(0x0000A99A00FB820A AS DateTime), N'00000000-0000-0000-0000-000000000000', N'系统管理员', CAST(0x0000A9B600FCDAAA AS DateTime), NULL, N'', NULL)
INSERT [dbo].[DncUserRoleMapping] ([UserGuid], [RoleCode], [CreatedOn]) VALUES (N'd7f32600-64c3-484d-a933-2d4a62bda0bc', N'C7kPHIwu', CAST(0x0000AB1E00B1B1EF AS DateTime))
INSERT [dbo].[DncUserRoleMapping] ([UserGuid], [RoleCode], [CreatedOn]) VALUES (N'684eca5e-2aeb-4478-ba70-8a6b29f78696', N'C7kPHIwu', CAST(0x0000AB6300F1FF4F AS DateTime))
INSERT [dbo].[DncUserRoleMapping] ([UserGuid], [RoleCode], [CreatedOn]) VALUES (N'684eca5e-2aeb-4478-ba70-8a6b29f78696', N'WPbv96HC', CAST(0x0000AB6300F1FF4F AS DateTime))
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DncPermission_Code]    Script Date: 2020-02-23 11:00:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DncPermission_Code] ON [dbo].[DncPermission]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DncPermission_MenuGuid]    Script Date: 2020-02-23 11:00:00 ******/
CREATE NONCLUSTERED INDEX [IX_DncPermission_MenuGuid] ON [dbo].[DncPermission]
(
	[MenuGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DncRole_Code]    Script Date: 2020-02-23 11:00:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DncRole_Code] ON [dbo].[DncRole]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DncRolePermissionMapping_PermissionCode]    Script Date: 2020-02-23 11:00:00 ******/
CREATE NONCLUSTERED INDEX [IX_DncRolePermissionMapping_PermissionCode] ON [dbo].[DncRolePermissionMapping]
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DncUserRoleMapping_RoleCode]    Script Date: 2020-02-23 11:00:00 ******/
CREATE NONCLUSTERED INDEX [IX_DncUserRoleMapping_RoleCode] ON [dbo].[DncUserRoleMapping]
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DncCode]  WITH CHECK ADD  CONSTRAINT [FK_DncCode_DncEChar] FOREIGN KEY([DncECharId])
REFERENCES [dbo].[DncEChar] ([Id])
GO
ALTER TABLE [dbo].[DncCode] CHECK CONSTRAINT [FK_DncCode_DncEChar]
GO
ALTER TABLE [dbo].[DncPermission]  WITH CHECK ADD  CONSTRAINT [FK_DncPermission_DncMenu_MenuGuid] FOREIGN KEY([MenuGuid])
REFERENCES [dbo].[DncMenu] ([Guid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DncPermission] CHECK CONSTRAINT [FK_DncPermission_DncMenu_MenuGuid]
GO
ALTER TABLE [dbo].[DncRolePermissionMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncRolePermissionMapping_DncPermission_PermissionCode] FOREIGN KEY([PermissionCode])
REFERENCES [dbo].[DncPermission] ([Code])
GO
ALTER TABLE [dbo].[DncRolePermissionMapping] CHECK CONSTRAINT [FK_DncRolePermissionMapping_DncPermission_PermissionCode]
GO
ALTER TABLE [dbo].[DncRolePermissionMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncRolePermissionMapping_DncRole_RoleCode] FOREIGN KEY([RoleCode])
REFERENCES [dbo].[DncRole] ([Code])
GO
ALTER TABLE [dbo].[DncRolePermissionMapping] CHECK CONSTRAINT [FK_DncRolePermissionMapping_DncRole_RoleCode]
GO
ALTER TABLE [dbo].[DncUserRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncUserRoleMapping_DncRole_RoleCode] FOREIGN KEY([RoleCode])
REFERENCES [dbo].[DncRole] ([Code])
GO
ALTER TABLE [dbo].[DncUserRoleMapping] CHECK CONSTRAINT [FK_DncUserRoleMapping_DncRole_RoleCode]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncCode', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图表Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncCode', @level2type=N'COLUMN',@level2name=N'DncECharId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图表名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncCode', @level2type=N'COLUMN',@level2name=N'DncEChar_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncCode', @level2type=N'COLUMN',@level2name=N'K_Name_kw'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncCode', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncCode', @level2type=N'COLUMN',@level2name=N'IsDeleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncEChar', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncEChar', @level2type=N'COLUMN',@level2name=N'K_CharName_kw'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'人口' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncEChar', @level2type=N'COLUMN',@level2name=N'Z1_Val'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'增长幅度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncEChar', @level2type=N'COLUMN',@level2name=N'Z2_Val'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'降低幅度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncEChar', @level2type=N'COLUMN',@level2name=N'Z3_Val'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发送时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncEChar', @level2type=N'COLUMN',@level2name=N'SendTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncEChar', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncEChar', @level2type=N'COLUMN',@level2name=N'IsDeleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志说明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncLog', @level2type=N'COLUMN',@level2name=N'K_Log_kw'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncLog', @level2type=N'COLUMN',@level2name=N'LogTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'业务类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncLog', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncLog', @level2type=N'COLUMN',@level2name=N'WorkNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncLog', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncLog', @level2type=N'COLUMN',@level2name=N'IsDeleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'消息内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncMessage', @level2type=N'COLUMN',@level2name=N'K_Msg_kw'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncMessage', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发消息人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncMessage', @level2type=N'COLUMN',@level2name=N'FromWorkNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'收消息人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncMessage', @level2type=N'COLUMN',@level2name=N'ToWorkNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否已读' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncMessage', @level2type=N'COLUMN',@level2name=N'IsRead'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'跳转url' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncMessage', @level2type=N'COLUMN',@level2name=N'ToUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发送时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncMessage', @level2type=N'COLUMN',@level2name=N'SendTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型：0提醒，1警告，2紧急通知）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncMessage', @level2type=N'COLUMN',@level2name=N'State'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncMessage', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DncMessage', @level2type=N'COLUMN',@level2name=N'IsDeleted'
GO
USE [master]
GO
